absl_py
dm_env
dm_meltingpot
dm_tree
dmlab2d
gymnasium
matplotlib
ml_collections
numpy
pettingzoo==1.14.0
stable_baselines3==2.1.0
supersuit==3.3.2
torch
jax==0.4.13
jaxlib==0.4.13
chex==0.1.7 # could switch with flax, used to fix jax version
flax==0.6.11
